<br>
{% if is_granted('ROLE_ADMIN') %}
	<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mx-auto d-block" href="{{ path('nuevoDocumento') }}">Nuevo Documento</a>
	<br>
{% endif %}
<table class="table">
	<thead class="success-color-dark white-text">
		<tr>
			<th scope="col">Nombre</th>
			<th scope="col">Descripción</th>
			<th scope="col">Fecha Publicación</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% for documento in documentos %}

			{% if is_granted('ROLE_USER') == false %}
				{% if documento.privado == 0 %}
					<tr>
						<td>{{ documento.nombre }}</td>
						<td>{{ documento.descripcion }}</td>
						<td>{{ documento.fecha | date("d/m/Y") }}</td>
						<td>
							<p>
								<a download href='{{ asset('../../documentos/' ~ documento.fichero) }}'>Descargar</a>
							</p>
						</td>
					</tr>
				{% endif %}
			{% else %}
				<tr>
					<td>{{ documento.nombre }}</td>
					<td>{{ documento.descripcion }}</td>
					<td>{{ documento.fecha | date("d/m/Y H:m:s")}}</td>
					<td>
						<p>
							<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mx-auto d-block" download href='{{ asset('../../documentos/' ~ documento.fichero) }}'>Descargar</a><br>
							{% if is_granted('ROLE_ADMIN') %}
								<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mx-auto d-block"
￼>Borrar Documento</a>
							{% endif %}
						</p>
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>
