<!-- PLANTILLA BASE NOTICIA -->
<section class="dark-grey-text">
	<div class="row align-items-center">
		<div class="col-lg-5 col-xl-4">
			<div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
				<img class="img-fluid" src='{{ asset('../../images/noticias/' ~ noticia.imagen) }}'>
				<a>
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>
		</div>
		<div class="col-lg-7 col-xl-8">
			<h4 class="font-weight-bold mb-3">
				<strong>{{ noticia.titular }}</strong>
			</h4>
			<p class="dark-grey-text">{{ noticia.entrada }}</p>
			<br><p class="float-right">en
				{{ noticia.localidad }},
				{{ noticia.fecha|date("d/m/Y") }}</p><br>
			<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white" href="{{ path('verNoticia', {'id': noticia.id}) }}">Leer más...</a>
			{% if is_granted('ROLE_ADMIN') %}
				<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white" href="{{ path('editarNoticia', {'id': noticia.id}) }}">
					<i class="far fa-edit"></i>
					Editar Noticia</a>
				<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white" href="{{ path('borrarNoticia', {'id': noticia.id}) }}" onclick="return confirm('¿Estás seguro de que deseas borrar esta noticia?')">
					<i class="far fa-trash-alt"></i>
					Borrar Noticia</a>
			{% endif %}
		</div>
	</div>
	<hr class="my-5">
</section>
