{% extends 'base.html.twig' %}
{% block title %}Noticias
{% endblock %}
{% block sidebar %}
	{{ include('nav.html.twig', { 'seccionActual': "noticias" }) }}
{% endblock %}
{% block body %}
	<div class="container mt-5">

		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('noticiasAdmin') }}">← Volver a las noticias</a>

		{% endif %}


		<!--Section: Content-->
		<section class="text-justify">
			<h2 class="text-center font-weight-bold mb-4 pb-2">{{noticia.titular}}</h2>

			<p class="font-weight-bold">{{noticia.entrada}}</p><hr>

			<p>{{noticia.cuerpo}}</p>

			<figure class="figure">
				<img src='{{ asset('../../images/noticias/' ~ noticia.imagen) }}' class="figure-img img-fluid z-depth-1" alt="imagen" . {{noticia.titular}} ."">
				<figcaption class="figure-caption">{{noticia.titular}}</figcaption>
			</figure>

		</section>
		<!--Section: Content-->

		{% if is_granted('ROLE_ADMIN') %}
			<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mx-auto d-block" href="{{ path('editarNoticia', {'id': noticia.id}) }}">
				<i class="far fa-edit"></i>
				Editar Noticia</a>
			<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mx-auto d-block" href="{{ path('borrarNoticia', {'id': noticia.id}) }}" onclick="return confirm('¿Estás seguro de que deseas borrar esta noticia?')">Borrar Noticia</a>
		{% endif %}
		<br>
	</div>
{% endblock %}
