{% extends 'areaPrivada/baseAreaPrivada.html.twig' %}
{% block title %}Notificaciones
{% endblock %}
{% block sidebar %}
	{{ include('areaPrivada/navAreaPrivada.html.twig', { 'seccionActual': "notificaciones" }) }}
{% endblock %}
{% block body %}

	<h1>notificaciones ADMINISTRADORES</h1>
	<table class="table">
		<thead class="success-color-dark white-text">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nombre</th>
				<th scope="col">Mensaje</th>
				<th scope="col">Notificación Leída</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for notificacion in notificaciones %}
				<tr>
					<th scope="row">{{notificacion.id}}</th>
					<td>{{notificacion.nombre}}</td>
					{# <td>{{ notificacion.mensaje|truncate(5) }}</td> #}
					<td>{{ notificacion.mensaje }}</td>
					<th scope="col">
						{% if notificacion.leido == 1 %}
							Sí
						{% else %}
							No
						{% endif %}
					</th>
					<td>
						<p>
							<a href="{{ path('verNotificacion', {'id': notificacion.id}) }}">Leer...</a>
						</p>
					</td>

				</tr>
			{% endfor %}


		</tbody>
	</table>


	{# <section></br>
				<h3 class="font-weight-bold text-center dark-grey-text pb-2">Notificaciones</h3>
				<hr class="w-header my-4"/>
			
				<div class="row d-flex justify-content-center">
			
					{% for notificacion in notificaciones %}
			
						<div class="col-md-6 col-xl-4">
							<h5 class="font-weight-normal">
								{{notificacion.nombre}}
							</h5>
							<p class="small grey-text">{{ notificacion.email }},
								{{ notificacion.telefono }}</p>
						</div>
			
						<div class="col-md-6">
							<p class="text-muted mb-5 pb-2">{{ notificacion.mensaje }}</p>
						</div>
						<a href="{{ path('verNotficacion', {'id': notificacion.id}) }}">Leer más</a>
			
					{% else %}
						<li>No hay ninguna notificación</li>
					{% endfor %}
				</div> #}
{% endblock %}
