{% extends 'areaPrivada/baseAreaPrivada.html.twig' %}
{% block title %}Notificaciones
{% endblock %}
{% block sidebar %}
	{{ render(path('menuAreaPrivada', {'seccionActual': "notificaciones"})) }}

	{# {{ include('areaPrivada/navAreaPrivada.html.twig', { 'seccionActual': "notificaciones" }) }} #}
{% endblock %}
{% block body %}

	<h1>notificaciones ADMINISTRADORES</h1>
	<table class="table table-hover border-dark">
		<thead class="success-color-dark white-text">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nombre</th>
				<th scope="col">Mensaje</th>
				<th scope="col">Notificación Leída</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for notificacion in notificaciones %}
				{% if notificacion.leido == 0 %}
					<tr class="green lighten-4">

					{% else %}
						<tr>
						{% endif %}


						<th scope="row">{{notificacion.id}}</th>
						<td>{{notificacion.nombre}}</td>
						<td>{{ notificacion.mensaje|u.truncate(50, '...') }}</td>

						<th scope="col">
							{% if notificacion.leido == 1 %}
								Sí
							{% else %}
								No
							{% endif %}
						</th>
						<td>
							<p>
								<a href="{{ path('verNotificacion', {'id': notificacion.id}) }}">Leer...</a>
							</p>
						</td>

					</tr>
				{% else %}
					<li>No hay ninguna notificación</li>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
{% endblock %}
