{% extends 'areaPrivada/baseAreaPrivada.html.twig' %}
{% block title %}Noticia
{% endblock %}
{% block sidebar %}
	{{ render(path('menuAreaPrivada', {'seccionActual': "noticias"})) }}
{% endblock %}

{% block body %}
	<div
		class="container my-5">
		<!--Section: Content-->
		<section class="text-center border-top dark-green-text mb-5">

			<div class="card">
				<div class="card-body rounded-top border border-success p-5">
					{{ form_start(form) }}

					<div class="row">
						<div class="col-md-12 mb-4">
							{{ form_widget(form.titular, {'attr': {'placeholder': 'Titular'}}) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mb-4">
							{{ form_widget(form.entrada, {'attr': {'placeholder': 'Entrada'}}) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mb-4">
							{{ form_widget(form.cuerpo, {'attr': {'placeholder': 'Cuerpo'}}) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mb-4">
							{{ form_widget(form.imagen, {'attr': {'placeholder': 'Imagen'}}) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mb-4">
							{{ form_widget(form.fecha, {'attr': {'placeholder': 'Fecha'}}) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mb-4">
							{{ form_widget(form.localidad, {'attr': {'placeholder': 'Localidad'}}) }}
						</div>
					</div>
					<div class="text-center">
						{{ form_widget(form.save, {'attr': {'class': 'btn btn-dark-green btn-block my-4 text-white'}}) }}
					</div>

				</div>
				{{ form_end(form) }}
			</div>
		</section>
	</div>
{% endblock %}
