{% extends 'areaPrivada/baseAreaPrivada.html.twig' %}
{% block title %}Notificaciones
{% endblock %}
{% block sidebar %}
	{{ render(path('menuAreaPrivada', {'seccionActual': "socios"})) }}
{% endblock %}
{% block body %}
</br>
<p class="small">
	<a href="{{ path('notificacionesAdmin') }}">← Volver a las notificaciones</a>
</p>

<h3 class="font-weight-bold text-center dark-grey-text pb-2">{{ notificacion.nombre }}</h3>
<div class="text-center">
	<h6 class="font-weight-normal">
		{{notificacion.email}}
	</h6>
	<h6 class="font-weight-normal">
		{{notificacion.telefono}}
	</h6>
	<p class="small grey-text">{{ notificacion.date|date("d/m/Y H:m:s") }}</p>
</div>
<hr class="w-header my-4"/>

<div class="row d-flex justify-content-center">
	<div class="col-md-6">
		<p class="text-muted mb-5 pb-2">{{ notificacion.mensaje }}</p>
	</div>
</div>
<div class="col text-center">
	<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white" href="{{ path('notificacionNoLeida', {'id' : notificacion.id}) }}">Marcar notificación como NO leída</a>
</div></br></br></br></br>{% endblock %}
