{% extends 'areaPrivada/baseAreaPrivada.html.twig' %}
{% block title %}Cuotas
{% endblock %}
{% block sidebar %}
	{{ render(path('menuAreaPrivada', {'seccionActual': "cuotas"})) }}
{% endblock %}
{% block body %}

	<div class="container mt-5">
		<div class="mt-3">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
		</div>
		{% if is_granted('ROLE_ADMIN') %}
			<div class="text-center m-3">
				<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mr-2" href="{{ path('nuevaCuota', {'idSocio' : socio}) }}">Añadir Año de Cuota</a>
			</div>
		{% endif %}
		<section class="text-justify">

			<div class="table-responsive">
				<h2>{{socios.nombre}}</h2>

				{% for cuota in cuotas %}

					{# {{ cuota.idSocio.numSocio}} #}

					<table class="table table-bordered">

						<thead>
							<h2 class="text-center font-weight-bold mb-4 pb-2">Año
								{{cuota.ano}}</h2>
							<tr>
								<th scope="col">Enero</th>
								<th scope="col">Febrero</th>
								<th scope="col">Marzo</th>
								<th scope="col">Abril</th>
								<th scope="col">Mayo</th>
								<th scope="col">Junio</th>
								<th scope="col">Julio</th>
								<th scope="col">Agosto</th>
								<th scope="col">Septiembre</th>
								<th scope="col">Octubre</th>
								<th scope="col">Noviembre</th>
								<th scope="col">Diciembre</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								{% if cuota.enero == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.febrero == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.marzo == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.abril == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.mayo == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.junio == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.julio == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.agosto == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.septiembre == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.octubre == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.noviembre == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
								{% if cuota.diciembre == true %}
									<td class="bg-success"></td>
								{% else %}
									<td class="bg-danger"></td>
								{% endif %}
							</tr>
						</tbody>
					</table>
					{% if is_granted('ROLE_ADMIN') %}
						<div class="d-flex justify-content-center mb-5">
							<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mr-2" href="{{ path('editarCuota', {'id' : cuota.id}) }}">Editar Cuota</a>
							<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mr-2" href="{{ path('anoCompletoCuota', {'id' : cuota.id}) }}">Año Completo Cuota</a>
							<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mr-2" href="{{ path('seisMesesCuota', {'id' : cuota.id}) }}">6 meses de cuota</a>
							<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mr-2" href="{{ path('borrarCuota', {'id': cuota.id}) }}" onclick="return confirm('¿Estás seguro de que deseas borrar este cuota?')">
								<i class="far fa-trash-alt fa-1x"></i>
								Borrar
							</a>
						</div>
					{% endif %}

				</tbody>


			{% else %}
				<p>No hay cuotas</p>

			{% endfor %}

			{# <a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mx-auto d-block" href="{{ path('nuevaCuota', {'idSocio' : cuotas.idSocio}) }}">Nueva Cuota</a> #}


		</div>
	</section>


</div>{% endblock %}
