<br>
<div
	class="mx-auto">
	<!--Card image-->
	<div class="view" style="background-image: url('../../images/fondo.png');">
		<div class="row">
			<div class="col-6 col-6 mt-3"><img class="rounded mx-auto d-block" src='{{ asset('../../equipos/' ~ partidos.idEquipoLocal.escudo) }}' width"300px" height="300px"></div>
			<div class="col-6 col-6 mt-3"><img class="rounded mx-auto d-block" src='{{ asset('../../equipos/' ~ partidos.idEquipoVisitante.escudo) }}' width"300px" height="300px"></div>
		</div>

		<div
			class="card-body text-center">
			<!--Title-->
			<h4 class="card-title white-text">{{partidos.idEquipoLocal.nombre}}
				-
				{{partidos.idEquipoVisitante.nombre}}</h4>
			<h6 class="white-text">Estadio
				{{partidos.estadio}}
				~
				{{partidos.fecha|date("d/m/Y")}}
				|
				{{partidos.hora|date('H:i')}}
				horas</h6>
			<p class="white-text">Hora de Apertura Sede:
				{{partidos.horaAperturaSede|date("H:i")}}
				horas</p>
		</div>
	</div>
	{% if is_granted('ROLE_ADMIN') %}
		<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mx-auto d-block" href="{{ path('borrarPartido', {'id': partidos.id}) }}">Borrar Partido</a><br>
	{% endif %}
</div>
