{% extends 'areaPrivada/baseAreaPrivada.html.twig' %}
{% block title %}Partido
{% endblock %}
{% block sidebar %}
	{{ render(path('menuAreaPrivada', {'seccionActual': "partidos"})) }}
{% endblock %}

{% block body %}
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mx-auto d-block" href="{{ path('nuevoEquipo') }}">Nuevo Equipo</a><br>
	<div class="row">
		{% for equipo in equipos %}

			<div class="card col-2 m-2 mx-auto d-block">
				<img class="card-img-top" src='{{ asset('../../equipos/' ~ equipo.escudo) }}' width"300px" height="300px" alt="...">
				<div class="card-body">
					<p class="card-text text-center">{{equipo.nombre}}
						<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mx-auto d-block" href="{{ path('borrarEquipo',{'id': equipo.id}) }}">Borrar Equipo</a><br></p>
				</div>
			</div>

		{% endfor %}

	</div>
	<br>
{% endblock %}
