{% extends 'areaPrivada/baseAreaPrivada.html.twig' %}
{% block title %}Partido
{% endblock %}
{% block sidebar %}
	{{ include('areaPrivada/navAreaPrivada.html.twig', { 'seccionActual': "partidos" }) }}
{% endblock %}

{% block body %}

	<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mx-auto d-block" href="{{ path('nuevoEquipo') }}">Nuevo Equipo</a>
	<br>
	<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mx-auto d-block" href="{{ path('nuevoPartido') }}">Nuevo Partido</a>
	<br>

	{% for partido in partidos %}
		<p>Equipo Local: {{partido.idEquipoLocal.nombre}}</p>
		<img class="img-fluid" src='{{ asset('../../equipos/' ~ partido.idEquipoLocal.escudo) }}'>



		<p>Equipo Visitante: {{partido.idEquipoVisitante.nombre}}</p>
		<img class="img-fluid" src='{{ asset('../../equipos/' ~ partido.idEquipoVisitante.escudo) }}'>

		<p>Estadio: {{partido.estadio}}</p>

		<p>Fecha: {{partido.fecha|date("d/m/Y")}}</p>

		<p>Hora: {{partido.hora|date("H:m")}}</p>

		<p>Hora Apertura Sede: {{partido.horaAperturaSede|date("H:m")}}</p>

		{# <!--Card-->
		<div
			class="card default-color-dark">

			<!--Card image-->
			<div class="view">
				<img src="https://mdbootstrap.com/img/Photos/Slides/img%20(125).jpg" class="card-img-top" alt="photo">
				<a href="#">
					<div class="mask rgba-white-slight"></div>
				</a>
			</div>

			<!--Card content-->
			<div
				class="card-body text-center">
				<!--Title-->
				<h4 class="card-title white-text">News title</h4>
				<!--Text-->
				<p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
													          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
													          quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.</p>
				<a href="#" class="btn btn-outline-white btn-md waves-effect">Button</a>
			</div>

		</div>
		<!--/.Card-->
 #}
	{% else %}
		<p>No hay noticias</p>
	{% endfor %}


{% endblock %}
