{% extends 'areaPrivada/baseAreaPrivada.html.twig' %}
{% block title %}Partido
{% endblock %}
{% block sidebar %}
	{{ render(path('menuAreaPrivada', {'seccionActual': "partidos"})) }}
{% endblock %}

{% block body %}
	<div class="mt-3">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	</div>
	{% if is_granted('ROLE_ADMIN') %}
		<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mx-auto d-block" href="{{ path('listaEquipos') }}">
			<i class="far fa-futbol"></i>
			Equipos</a><br>
		<a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white mx-auto d-block" href="{{ path('nuevoPartido') }}">
			<i class="far fa-plus-square"></i>
			Nuevo Partido</a><br>
	{% endif %}
	<div class="col-md-12 col-sm-12 col-lg-6 mx-auto">
		{% for partidos in partidos %}

			{{ include('partidos/basePartidos.html.twig') }}

		{% endfor %}
	</div>
	<br>
{% endblock %}
