<!-- PLANTILLA GENERAL -->
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#007E33"/>
		<title>
			{% block title %}Peña Bética Fontaniega
			{% endblock %}
		</title>
		<link rel="canonical" href="https://pbeticafontaniega.herokuapp.com"/>
		<link rel="shortcut icon" href="../images/logo.png" type="image/x-icon"/>
		<link rel="icon" href="images/logo.png" type="image/x-icon"/>

		{% block stylesheets %}
			<link href="{{ asset('vendors/MDB-Free/css/mdb.min.css') }}" type="text/css" rel="stylesheet"/>
			<link href="{{ asset('vendors/bootstrap-4.4.0-dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>
			<link href="{{ asset('vendors/fontawesome/css/all.min.css') }}" type="text/css" rel="stylesheet"/>
			<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet"/>
		{% endblock %}

		<link rel="manifest" href="manifest.json">
		<noscript>
			<h2>El uso de Javascript es necesario</h2>
		</noscript>

		<!-- PWA: Añadir a pantalla de inicio para Safari en iOS -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="Tienda">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/icons/icon-152x152.png">
		<meta name="msapplication-TileImage" content="/images/icons/icon-144x144.png">
		<meta name="msapplication-TileColor" content="#2F3BA2">


		<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Dancing+Script&family=Mukta:wght@600;700;800&display=swap" rel="stylesheet">
		<style>
			body {
				font-family: 'Mukta', sans-serif;
			}
		</style>
	</head>
	<body>

		{% block menu %}
			<!--Navbar-->
			<nav class="navbar navbar-expand-lg navbar-dark success-color-dark">

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Navbar brand -->
				<div>
					<a class="navbar-brand" href="{{ path('index') }}">
						<img src="../images/logo.png" alt="logo" class="img-fluid logo" width="100px">
					</a>
				</div>
				<div class="collapse navbar-collapse ml-4" id="basicExampleNav">
					{% block sidebar %}
						{{ include('nav.html.twig', { 'seccionActual': "inicio" }) }}
					{% endblock %}
					<ul class="navbar-nav nav-flex-icons">
						<li class="nav-item">
							<a class="nav-link" href="https://www.facebook.com/penafontaniega.juanjosecanas.7">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://twitter.com/pbfontaniega">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://www.instagram.com/pbeticafontaniega/">
								<i class="fab fa-instagram"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- Collapsible content -->
			</nav>
		{% endblock %}

		{% block body %}{% endblock %}

		<!-- Footer -->
		<footer
			class="page-footer font-small green lighten-3 navbar-fixed-bottom footer">

			<!-- Footer Elements -->
			<div
				class="container">

				<!-- Grid row-->
				<div
					class="row">

					<!-- Grid column -->
					<div class="col-md-12 py-5">
						<div
							class="mb-5 flex-center">

							<!-- Facebook -->
							<a class="fb-ic" href="https://www.facebook.com/penafontaniega.juanjosecanas.7">
								<i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
							</a>
							<!-- Twitter -->
							<a class="tw-ic" href="https://twitter.com/pbfontaniega">
								<i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
							</a>
							<!--Instagram-->
							<a class="ins-ic" href="https://www.instagram.com/pbeticafontaniega/">
								<i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
							</a>
						</div>
					</div>
				</div>

			</div>
			<div class="footer-copyright text-center py-3">Copyright ©
				{{ "now"|date("Y") }}
				<strong>Peña Bética Fontaniega 'Juan José Cañas'</strong>
			</div>
		</footer>


		{% block javascripts %}
			<script src="{{ asset('vendors/jquery-3.4.1.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('vendors/popper.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('vendors/bootstrap-4.4.0-dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('vendors/MDB-Free/js/mdb.min.js') }}" type="text/javascript"></script>
			<script src="{{ asset('vendors/fontawesome/js/fontawesome.min.js') }}" type="text/javascript"></script>

			<script>
				if ('serviceWorker' in navigator) {
window.addEventListener('load', () => {
navigator.serviceWorker.register('{{ asset('service-worker.js') }}').then(reg => console.log('[Service Worker] * Registrado.')).catch(err => console.log (`[Service Worker] * Error: ${err}`));
});
}
			</script>
		{% endblock %}
	</body>
</html>
