{# templates/nav.html.twig #}
<ul class="navbar-nav mr-auto">
    <li {% if seccionActual == "inicio" %}
            class="nav-item active"
        {% else %}
            class="nav-item"
        {% endif %}>
        <a class="nav-link" href="{{ path('index') }}">Inicio
            <span class="sr-only"></span>
        </a>
    </li>
   <li {% if seccionActual == "noticias" %}
            class="nav-item active"
        {% else %}
            class="nav-item"
        {% endif %}>
        <a class="nav-link" href="{{ path('noticias') }}">Noticias</a>
    </li>
    <li {% if seccionActual == "socios" %}
            class="nav-item active"
        {% else %}
            class="nav-item"
        {% endif %}>
        <a class="nav-link" href="{{ path('socios') }}">Socios</a>
    </li>
   <li {% if seccionActual == "faq" %}
            class="nav-item active"
        {% else %}
            class="nav-item"
        {% endif %}>
        <a class="nav-link" href="{{ path('faq') }}">FAQ</a>
    </li>
    <li {% if seccionActual == "contacto" %}
            class="nav-item active"
        {% else %}
            class="nav-item"
        {% endif %}>
        <a class="nav-link" href="{{ path('contacto') }}">Contacto</a>
    </li>
</ul>