{% extends 'base.html.twig' %}
{% block title %}Noticias{% endblock %}
{% block sidebar %}
	{{ include('nav.html.twig', { 'seccionActual': "noticias" }) }}
{% endblock %}
{% block body %}
<div class="container mt-5">

{% for noticia in noticias %}
  <!--Section: Content-->
  <section class="dark-grey-text">
  	<!-- Grid row -->
    <div class="row align-items-center">

      <!-- Grid column -->
      <div class="col-lg-5 col-xl-4">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
          <img class="img-fluid" src="images/img2.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7 col-xl-8">

        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>{{ noticia.titular }}</strong></h4>
        <!-- Excerpt -->
        <p class="dark-grey-text">{{ noticia.entradilla }}</p>
        <!-- Post data -->
        <br><p class="float-right">en {{ noticia.localidad }}, {{ noticia.fecha|date("d/m/Y") }}</p><br>
        <!-- Read more button -->
        <a class="btn btn-dark-green btn-md mx-0 btn-rounded text-white">Leer más...</a>
		
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <hr class="my-5">

  </section>
  <!--Section: Content-->
  {% else %}
            <p>No hay noticias</p>
    {% endfor %}
</div>

{% endblock %}
