<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link href="{{ asset('vendors/MDB-Free/css/mdb.min.css') }}" type="text/css" rel="stylesheet"/>
		<link href="{{ asset('vendors/bootstrap-4.4.0-dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>
		<link href="{{ asset('vendors/fontawesome/css/all.min.css') }}" type="text/css" rel="stylesheet"/>
		<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet"/>
	</head>

	<body>
		<style>
			html,
			body,
			header,
			.view {
				height: 100vh;
			}

			@media(max-width: 740px) {

				html,
				body,
				header,
				.view {
					height: 100vh;
				}
			}

			.top-nav-collapse {
				background-color: #82b1ff !important;
			}

			.navbar:not(.top-nav-collapse) {
				background: transparent !important;
			}

			@media(max-width: 991px) {
				.navbar:not(.top-nav-collapse) {
					background: #82b1ff !important;
				}
			}

			h5 {
				letter-spacing: 3px;
			}
		</style>
		<header>
			<div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('../../images/fondo.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
				<div class="mask rgba-white-light d-flex justify-content-center align-items-center">
					<div class="container">
						<div class="row">
							<div class="col-md-12 white-text text-center">
								<h1 class="display-3 mb-0 pt-md-5 pt-5 white-text font-weight-bold wow fadeInDown" data-wow-delay="0.3s">BIENVENID@ A LA PEÑA BÉTICA
									<a class="indigo-text font-weight-bold">FONTANIEGA 'JUAN JOSÉ CAÑAS'</a>
								</h1>
								<h5 class="text-uppercase pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 white-text font-weight-bold wow fadeInDown" data-wow-delay="0.3s">Fuentes de Andalucía (Sevilla)</h5>
								<div class="wow fadeInDown" data-wow-delay="0.3s">
									<a class="btn btn-light-blue btn-lg btn-rounded" href="{{ path('index') }}">Inicio</a>
									<a class="btn btn-indigo btn-lg btn-rounded" href="{{ path('socios') }}">Área de Socios</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<script src="{{ asset('vendors/jquery-3.4.1.min.js') }}" type="text/javascript"></script>
		<script src="{{ asset('vendors/popper.min.js') }}" type="text/javascript"></script>
		<script src="{{ asset('vendors/bootstrap-4.4.0-dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
		<script src="{{ asset('vendors/MDB-Free/js/mdb.min.js') }}" type="text/javascript"></script>
		<script src="{{ asset('vendors/fontawesome/js/fontawesome.min.js') }}" type="text/javascript"></script>
	</body>

</html>
